.Issue-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 80vh;
  
}

.Issue-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding:20px 20px ;
  border-radius: 8px;
  background-color: white;
  margin-left: 19px;
}